@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@import "tailwindcss";


@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --color-workie-gold: #DF9F27;
  --color-workie-gold-light: #E4C06A;
  --color-workie-blue: #154B6C;
  --color-workie-blue-light: #16629E;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}


body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Custom scrollbar for a modern touch (optional) */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  ::-webkit-scrollbar-thumb {
    background: #154B6C; /* workie-blue-light */
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #D4AF37; /* workie-gold */
  }
  
  /* You might define a gradient text utility here if needed often, or use Tailwind's arbitrary values */
  .text-gradient-gold-blue {
    /* @apply bg-gradient-to-r from-workie-gold to-workie-blue-light text-transparent bg-clip-text; */
  }